*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{
	--darckblu:#141922;
	--darckgray:#282828;

}

.app{
    display: flex;
    flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

img{
    max-width: 100%;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.left-side{
    background-color: black;
	min-width: 90px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.main__app{
    display: flex;
    flex-grow: 1;	
    background-color: var(--darckblu);
}

.toolbar{
    background-color: #282828;
}

/* utility */

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    direction: column;
    display: flex;
}

.white{
    color: white;
}

.justfy-center{
    justify-content: center;
    display: flex;
}

.aligne-center{
    display: flex;
    align-items: center;
}

.justfy-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.light-gray{
    color: #5A5A5A;
    font-weight: 700;
}



/* TOOLBAR */


/* TOOLBAR LEFT */

.img-preview{
    height: 20px;
    aspect-ratio: 1;
}

.music-preview{
    height: 20px;
    align-items: center;
    width: 20%;
    display: flex;
    flex-shrink: 1;
    min-width: 150px;
}

.toolbar{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
}

.music-preview{
    display: flex;
    align-items: center;
}

.music-preview-name{
    margin: 0px 20px 0px 20px ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-song{
    font-size: 10px;
    color: white;
    font-weight: 700;
}

.name-artist{
    font-size: 8px;
    font-weight: 700;
    color:gray;
}

 i{
    color: white;
}


/* TOOLBAR CENTER */

.player{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    min
}

.player-top{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-bottom: 10px;
}

.player-bot{
    padding-top: 10px;
    display: flex;
    justify-content: center ;
    width: 100%;
	align-items:center ;
}

.time-bar_gray{
    height: 5px;
    background-color: #5A5A5A;
    margin: 0px 10px 0px 10px;
    border-radius: 50px;
}

.time-bar_light-gray{
    width: 25%;
    background-color: #c1c1c1;
    height: 5px;
    border-radius: 50px;
}

.time-bar_time{
	color: white;
}


/* TOOLBAR RIGHT */


.volume{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 10%;
    flex-shrink: 1;
	gap: 10px;
    min-width: 150px;
}

.time-bar-big{
    width: 70%;
}

.time-bar-small{
    display: flex;
    flex-grow: 1;
}


/* NAVIGATORE */

.home-search{
    flex-grow: 1;
}

.icon-dimension{
    display: flex;
}

.navigator__option{
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.navigator__option i{
    font-size: 25px;
    color: #5A5A5A;
    
}

.name-option{
    display: none;
    padding-left: 5px;
    padding-top: 20px;
}

.logo-big{
    display: none;
    padding-bottom: 20px;
}

.logo-small{
    width: 40px;;
}


/* PLAYLIST */

.playlist{
    display: none;
    flex-direction: column;
    margin:  auto 0;
    flex-grow: 1;

}
.playlist h4{
    color: white;
    padding: 20px 0px;

}

.add-playlist{
    padding-left: 10px;
}

.playlist p{
    padding: 10px 0px;
}

.playlist li{
    align-items: center;
}
.fa-square-plus{
    font-size: 40px;
    padding-right: 10px;
}

/* DOWNLOAD PROFILE */

.download-profile{
    display: none;
    flex-direction: column;
}
.download-profile__arrow{
    border-bottom:1px solid lightgray ;
    padding-bottom: 10px;
}
.download-profile a{
    padding: 0px 10px;
}

.download-profile h2{
    padding-top: 10px;
    color: #5A5A5A;
}

.profile{
    display: flex;
    align-items: center;
}

.profile_logo{
    width: 30px;
    aspect-ratio: 1;
    background-color: #5A5A5A;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
}














@media (min-width: 639px){
	.left-side{
		min-width: 230px;
	}
    .logo-small{
        display: none;
    }
    .logo-big{
        display: flex;
    }
    .name-option{
        display: flex;
    }
    .playlist{
        display: flex;
    }
    .download-profile{
        display: flex;
    }
    .home-search{
        flex-grow: 0;
    }
}

@media (min-width: 879px){
    .like-folder{
        display: flex;
    }
    .fa-heart{
        padding-right: 10px;
    }
    .music-preview{
        height: 45px;
        align-items: center;
        display: flex;
    }
    .img-preview{
        height: 45px;
    }
   .name-artist{
        font-size: 15px;
    }
    .name-song{
        font-size: 20px;
    }
    .player i{
        font-size: 25px
    }
}


@media (min-width: 1100px){
   
    
}