*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.app{
    display: flex;
}

.navigator{
    background-color: black;
    height: 90vh;
    width: 230px;
}

.body-app{
    display: flex;
    flex-grow: 1;
    background-color: rgb(1, 0, 56);
}

.toolbar{
    background-color: gray;
    height: 10vh;
}


/* TOOLBAR */


/* TOOLBAR LEFT */
.img-preview{
    height: 45px;
    aspect-ratio: 1;
}

.toolbar{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
}

.music-preview{
    display: flex;
}

.music-preview-name{
    margin: 0px 50px 0px 20px ;
}

.like-folder{
  
}




/* TOOLBAR CENTER */

.player{
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.player-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom:10px ;
}

.player-bot{
    padding-top: 10px;
    display: flex;
    align-items:center;
}

.time-bar{
    height: 3px;
    min-width: 130px;
    background-color: lightgray;
    margin: 0px 20px;
    border-radius: 50px;
}













/* TOOLBAR RIGHT */