:root {
	--green: #adff2f;
	--sidebar-width: 230px;
	--progress: 25%;
    --darckblu:#141922;
    --darckgray:#282828;
    --mediumgray:#5A5A5A;
    --lightgray:#c1c1c1;
    --lightlightgray:#f8f8f8;
}

html {
	font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}


/* utilities */


.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.grow-1 {
	flex-grow: 1;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

/* APP */


#app,
.app__content,
.app__toolbar,
.app__sidebar,
.app__main-content {
	overflow: hidden;
    color: white;
}

.app__main-content{
    background-color:#141922;
}

.app__sidebar{
    background-color:black;
    min-height:90vh;
    width: 50px
}

.app__toolbar{
    min-height: 10vh;
    background-color: #282828;

}

/**/
i{
    color: white;
}